{{! Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE.txt in the project root for license information.}}
<h2>Contacts</h2>
<table class="table">
  <thead class="thead-light">
    <th scope="col">Name</th>
    <th scope="col">Email addresses</th>
    <th scope="col">Email addresses</th>
    <th scope="col">Email addresses</th>

  </thead>
  <tbody>
    {{#each contacts}}
      <tr>
        <td>{{this.displayName}}</td>
        <td>{{this.userPrincipalName}}</td>
        <td>{{this.emailAddresses}}</td>
        <td>{{this.emailAddresses.address}}</td>

      </tr>
    {{/each}}
  </tbody>
</table>
