<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src = "js/socket.io.js"></script>
<script src="js/script.js"></script>
<div class="jumbotron">
  <p class="lead"></p>
  {{#if user}}
    <p>Welcome {{user}}!</p>
    <body>
    <section>
      <h1>Gini Bot</h1>
      <h2></h2>

      <button><i class="fa fa-microphone"></i></button>

      <div>
          <p>You said: <em class="output-you">...</em></p>
          <p>Bot replied: <em class="output-bot">...</em></p>
      </div>
    </section>

    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>-->
  </body>
  {{else}}
    <a class="btn btn-primary btn-large" href="{{signInUrl}}">Click here to login</a>
  {{/if}}
  <script>
      alert(1);
      var socket1 = io();
      socket1.on('testerEvent', function(data){document.write(data.description)});
   </script>
</div>
