<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="jumbotron">
  <p class="lead"></p>
  {{#if user}}
    <p>Welcome {{user}}!</p>
    <body>
    <section>

      <button><i class="fa fa-microphone"></i><img src="/public/images/mike.png" style="width:1000px;max-width: 100%;height: auto;text-align:center;margin-top: 200px auto"/></button>

      <div>
          <p>You said: <em class="output-you">...</em></p>
          <p>Bot replied: <em class="output-bot">...</em></p>
      </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.6.0/socket.io.min.js"></script>
    <script src="js/script.js"></script>
  </body>
  {{else}}
    <a class="btn btn-primary btn-large" href="{{signInUrl}}">Click here to login</a>
  {{/if}}
    
</div>
